.home_banner_background {
    background-image: url('/assets/Images/Home/peixe-salmao-cru-na-ardosia-preta.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.home_logo {
    width: 33%;
    height: auto;
}

.home_logo_box {
    padding-top: 190px;
    display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
}

.home_logo_txt_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px
}

.home_logo_txt {
    color: var(--gray-white);
    font-size: 45px;
    font-family: 'Lobster', cursive;
}

.home_logo_button {
    background-color: var(--orange-dark);
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.home_logo_button_txt {
    color: var(--gray-white);
    font-family: 'Lobster', cursive;
    font-size: 27px;
}

.home_social_box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.home_social{
    width: 3%;
}

.home_social_button{
    background-color: var(--orange-dark);
    padding: 10px 20px;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    width: 1%;
}

.home_social_button_insta{
    background-color: var(--orange-dark);
    padding: 10px 20px;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    width: 4.5%;
    margin-bottom: 10px;
}


.home_social_button_wpp{
    background-color: var(--orange-dark);
    padding: 10px 20px;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    width: 4.5%;
}
.home_social_insta{
    width: 100%;
}

.home_social_wpp{
    width: 100%;
}
