

*, 
    *:after,
    *:before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }

    :root{

        --blue-Dark: #07263B;
        --blue-dark: #03394D;
        --blue-sea: #2A5666;
        --blue-baby: #0088B0;
        --orange-dark: #875000;
        --gray-white: #D7D1E2;
        --gray-blue: #D1EAF2;
        --black: #000000;

    
        --pading-section: calc((100vw - 1200px)/2 );
        --pading-but:24px;
        --nav-height:100px;
    }

    .NavBar{

       background-color: var(--blue-Dark); 
       width: 100vw;
       height: var(--nav-height);
       
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;

       position: fixed;
       top: 0;
       left: 0;

       padding-left: var(--pading-section);
       padding-right: var(--pading-section);

    }

    .NavBar_form{

        width: fit-content;
        height: fit-content;
        display: flex;
        gap: 90px;
    
    }