body {
    height: 100vh;
    margin-bottom: 50%;
    background-image: url("/assets/Images/ofertas/fundo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
}


.font_combo {
    font-family: 'Lobster', cursive;
    color: var(--gray-white);
}

.div {
    display: inline-block;
    margin-right: 2vh;
    margin-left: 2vh;
}

.div_image {
    display: inline-block;
    margin-right: 10vh;
    margin-left: 10vh;
}

.img {
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    margin-top: 10px;
    height: 210px;
    width: 190px;
}

.img-section2 {

    /* border-image: auto; */
    /* padding-bottom: 5px; */
    /* margin-bottom: 5px; */
    height: 170px;
    width: 202px;
    /* border-radius: 10px; */
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}


.text_cabecalho {
    /* margin-top: 15px;
    /* position: absolute; */
    /* padding-right: 6vw ; */
    /* bottom: 697px; */
    text-align: center;
    /* padding-left: 57px; */
    font-family: 'Lobster', cursive;
    color: var(--black);
}

.text1 {
    font-family: 'Lobster', cursive;
    color: var(--black);

}

.text {
    font-family: 'Lobster', cursive;
    color: var(--black);

}

.button_ofertas {
    padding: 10px 60px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.button_combos {
    padding: 10px 56px;
    /* margin: 4px 2px; */
    /* text-align: center; */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 5px;
}

.button_combos_title {
    padding: 10px 60px;
    /* margin: 4px 2px; */
    /* text-align: center; */
    border: none;
    /* border-radius: 50px; */
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    cursor: pointer;
}

.button_ofertas_rodape {
    padding: 10px 50px;
    /* margin: 4px 2px; */
    /* text-align: center; */
    border: none;
    /* border-radius: 50px; */
    border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
    cursor: pointer;
    margin-top: -4px;
}

.button_ofertas_rodape2 {
    padding: 10px 47px;
    /* margin: 4px 2px; */
    /* text-align: center; */
    border: none;
    /* border-radius: 50px; */
    border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
    cursor: pointer;
    margin-top: -4px;
}

.button_ofertas_rodape3 {
    padding: 10px 35px;
    /* margin: 4px 2px; */
    /* text-align: center; */
    border: none;
    /* border-radius: 50px; */
    border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
    cursor: pointer;
    margin-top: -4px;
}

.button_ofertas_rodape4 {
    padding: 10px 62px;
    /* margin: 4px 2px; */
    /* text-align: center; */
    border: none;
    /* border-radius: 50px; */
    border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
    cursor: pointer;
    margin-top: -4px;
}

.button_image_problematico {
    padding: 10px 62px;
    /* margin: 4px 2px; */
    /* text-align: center; */
    border: none;
    /* border-radius: 50px; */
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    cursor: pointer;

}