.container { text-align: center; }


.font_combo{
    font-family: 'Lobster', cursive;
    color: var(--gray-white);
}

.div_image{
    display: inline-block;
}

.img{

    /* border-image: auto; */
    height: 224px;
    width: 198px;
}